


.panel.panel-green
  .panel-heading
    | {{ 'tours_details_title' | translate }}
  .panel-body
    form(name='form' role='form' novalidate)
      mas-form-group(field-name='name' localization-prefix='tours_details_name')
        input.form-control(ng-model='ctrl.tour.name' name='name' required ng-minlength='2')
      mas-form-group(field-name='description' localization-prefix='tours_details_description')
        input.form-control(ng-model='ctrl.tour.description' name='description' required ng-minlength='2')
      mas-form-group(field-name='image' localization-prefix='tours_details_image')
        mas-image-form-wrapper(image-id='image' model='ctrl.tour.imageId' height='100'  is-required='true')


      h3 {{ 'tours_details_compose_title' | translate }}
      .dropdown
        button#addArea.btn.btn-default.dropdown-toggle(type='button' ng-disabled='ctrl.unconfiguredAreas.length == 0' data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          | Area hinzufügen
          span.caret
        ul.dropdown-menu(aria-labelledby='addArea')
          li(ng-repeat='area in ctrl.unconfiguredAreas')
            a(ng-click='ctrl.addArea($index)') {{area.name}}
      .row(style='min-height:200px')


        .col-md-3
          h4 {{ 'tours_details_compose_areas' | translate }}
          .list-group
            div.list-group-item.list-group-item-gray(ng-repeat='area in ctrl.configuredAreas | orderBy:"name"' ng-click='ctrl.selectArea(area)' ng-class='{ "active" : ctrl.selectedArea.id == area.id }')
              | {{area.name}} ({{ ctrl.countSelectedContents(area) }} Inhalte)
        div(ng-show='ctrl.selectedArea')


          .col-md-8
            .row.mas-tourcomposition-box
              a.btn.btn-warning.btn-circle.pull-right.top10.right10(title='Bereich entfernen' popover-placement='left' popover-is-open='ctrl.isPopOverOpen'  uib-popover-template='"removeTemplate.html"' )
                i.fa.fa-remove

              .col-md-4
                h4 {{ 'tours_details_compose_contents' | translate }}
                .list-group
                  div.list-group-item(ng-repeat='content in ctrl.selectedArea.contents')
                    input(type='checkbox' ng-click='ctrl.selectContent(content.id, $event)' ng-checked='ctrl.isContentSelected(content.id)')
                    |  {{content.title}}
              .col-md-4
                h4 {{ 'tours_details_compose_challenges' | translate }}
                .list-group
                  div.list-group-item(ng-repeat='challenge in ctrl.selectedArea.challenges')
                    input(type='checkbox' ng-click='ctrl.selectChallenge(challenge.id, $event)' ng-checked='ctrl.isChallengeSelected(challenge.id)')
                    |  {{challenge.name}}
      mas-save-button(ng-click='ctrl.save()')


script(type='text/ng-template', id='removeTemplate.html').
  <div>{{ 'tours_details_removearea_confirm' | translate }}</div>
  <input type='button' ng-click='ctrl.removeArea(ctrl.selectedArea)' value='Ok' class='btn btn-default'>
  <input type='button' ng-click='ctrl.isPopOverOpen = false' value='Abbrechen' class='btn btn-default'>
