h1 {{ 'tours_title' | translate }}
.area-list
  .row
    .col-md-4.top30(ng-repeat-start='tour in ctrl.tours')
      a(style='text-align: center;' href ui-sref='cms.tours.detail.update({tourId: tour.id})')
        image-load.mas-round-img(initial-media-id='{{tour.imageId}}' height='100')
        div.center-text {{tour.name}}
    .clearfix(ng-if='$index%3==2')
    div(ng-repeat-end='')
    .col-md-4.top30.text-center
      mas-new-button(ref='cms.tours.create' text='Neu')
