#wrapper
  // Navigation
  nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#cms/welcome')
        div
          img(src="./img/maaas_logo.svg")
          div {{ 'master_cms' | translate }}

    // /.navbar-header
    ul.nav.navbar-top-links.navbar-right
      span {{ ctrl.loggedInEmail }}
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-user.fa-fw
          i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-user
          //li
          //  a(href='#')
          //    i.fa.fa-user.fa-fw
          //    |  User Profile
          //li
          //  a(href='#')
          //    i.fa.fa-gear.fa-fw
          //    |  Settings
          //li.divider
          li
            a(ng-click='ctrl.logout()')
              i.fa.fa-sign-out.fa-fw
              |  Logout
        // /.dropdown-user
      // /.dropdown
    // /.navbar-top-links
    .navbar-default.sidebar( role='navigation')
      .sidebar-nav.navbar-collapse
        ul#side-menu.nav
          li.sidebar-search
            .input-group.custom-search-form
              input.form-control(type='text', placeholder='Schnellsuche...' ng-model='ctrl.searchText' ng-change='ctrl.search()')
              span.input-group-btn
                button.btn.btn-default(type='button' ng-click='ctrl.search()')
                  i.fa.fa-search

          li
             a(ng-click='ctrl.goToMuseum()' href=''  ui-sref-active-if='cms.museums')
              i.fa.fa-building
              |  Museum
          li
            a(ui-sref='cms.areas.list'  ui-sref-active-if='cms.areas')
              i.fa.fa-cubes
              |  Bereiche
          li
            a(ui-sref='cms.tours.list'  ui-sref-active-if='cms.tours')
              i.fa.fa-stumbleupon
              |  Rundgänge
          li
            a(ui-sref='cms.beacons.list'  ui-sref-active-if='cms.beacons')
              i.fa.fa-bullseye
              |  Beacons
          li
            a(ui-sref='cms.statistics.list'  ui-sref-active-if='cms.statistics')
              i.fa.fa-bar-chart
              |  Statistiken
          li
            a(ui-sref='cms.translations.list'  ui-sref-active-if='cms.translations')
              i.fa.fa-flag
              |  Übersetzen
          li
            a(ng-click='ctrl.openPreview()')
              i.fa.fa-mobile
              |  Vorschau
    // Page Content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          div(ncy-breadcrumb)
          div.slidr(ui-view='')

uib-alert.alert-box(style='bottom: {{ 5 + $index*90 }}px;' ng-repeat='alert in ctrl.alerts' type='{{alert.type}}' close='ctrl.closeAlert($index)') {{alert.msg}}