div(style='max-width: 500px;')
  h1 Benutzeranleitung
  h2 Überblick & Begriffe
  | Mit dem maaas-CMS können Sie sämtliche Informationen Ihres Museums bearbeiten. Dies beinhaltet:
  ul
    li Inhalte
    li Quiz
    li Beacons
    li Bereiche

  | Diese Begriffe werden hier kurz erklärt:
  h4 Inhalte
  | Dies sind Zusatzinformationen zu Ausstellungsstücken, bestehend aus Texten und Bildern.
  h4 Quiz
  | Sie können zwischen 5 verschiedenen Quiz-Typen auswählen. Diese werden im Kapitel "Quiz" genauer erklärt.
  h4 Beacon
  | Ein Beacon ist ein kleiner Sender, welcher mit dem Mobilen Gerät eines Museums-Besuchers kommunizieren kann. Er wird verwendet, die ungefähre Position des Besuchers zu bestimmen und so entsprechende Inhalte anzuzeigen.
  h4 Bereich
  | Mit einem Bereich können Sie mehrere Inhalte und Quiz zusammenfassen. Der Bereich kann dann mit einem Beacon verknüpft werden.
  h2 Quiz-Typen
  | Folgende Quiz-Typen stehen Ihnen zur Verfügung:
  h4 Multiplechoice
  | Sie können eine Frage erfassen und zwischen zwei Antwort-Typen auswählen (Bild oder Text). Dann können sie mehrere Antworten erfassen, wobei nur eine korrekt sein kann. Der Benutzer muss dann die korrekte Antwort auf die Frage finden.
  h4 Wahr/Falsch
  | Beim Wahr/Falsch-Quiz können Sie eine oder mehrere Fragen erfassen, welche der Benutzer dann sequenziell negativ oder positiv beantworten kann. Eine Frage kann optional mit einem Bild ergänzt werden.
  h4 Zuordnen
  | Beim Zuordnen-Quiz muss man als Benutzer ein Text einem Bild zuweisen. Sie können mehrere Frage-Antwort-Paare erfassen. Diese werden dann in der App in zufälliger Reihenfolge aufgelistet.
  h4 Ordnen
  | Beim Ordnen-Quiz muss der Benutzer Text in die Richtige Reihenfolge bringen. Sie erfassen die Texte in der richtigen Reihenfolge, diese werden dann in der App in zufälliger Reihenfolge dargestellt. Texte müssen durch ein Bild ergänzt werden.
  h4 Bildbereich
  | Beim Bildbereich-Quiz muss der Benutzer einen Bereich im Bild anwählen. Dazu können Sie ein Bild hochladen. Den anzuklickenden Bildbereich können Sie im referenzierten Tool erstellen.
  h2 Navigation
  | Über die Navigation auf der linken Seite gelangen Sie auf die verschiedenen Ansichten des CMS.
  | Um Inhalte und Quiz zu erfassen oder zu editieren, müssen Sie zuerst auf den zugehörigen Bereich navigieren. Am Ende der Ansicht finden Sie die entsprechenden Navigationspunkte für Inhalte und Quiz.
  | Mit der Schnellsuche haben Sie ausserdem die Möglichkeit, nach Bereichen, Inhalten und Quiz zu suchen und direkt hinzunavigieren.
  h2 Übersetzen
  | Sämtliche Bereiche, Inhalte und Quiz können übersetzt werden. Es gibt zwei Modi, mit welchen Sie diese übersetzen können.
  h4 Wizard-Modus
  | Im Wizard-Modus werden Ihnen alle Einträge präsentiert, welche noch nicht übersetzt sind. Ein Eintrag muss zuerst in alle Sprachen übersetzt werden, bevor der nächste bearbeitet werden kann.
  h4 Suche-Modus
  | Im Suche-Modus können Sie nach Einträgen suchen und diese dann übersetzen.
  h2 Live-Preview
  | Mit dem Live-Preview können Sie alle Bereiche, Inhalte und Quiz betrachten, wie sie in der App dargestellt würden. Sie können den Live-Preview öffnen, in dem Sie im Menü "Vorschau" anwählen. Es wird sich ein neues Fenster öffnen, in welchem Sie die App betrachten können.
  | Wenn Sie einen Bereich, Inhalt oder Quiz editieren, wird der Live-Preview automatisch die Ansicht wechseln und die Daten gemäss Ihrer Eingaben aktualisieren.
  h2 Einladen
  | Wenn Sie ein Museum erstellt haben, können Sie andere Benutzer einladen, sodass diese Zugriffe auf die Inhalte dieses Museums haben. Dazu navigieren sie über das Menü auf "Museum". Am unteren Ende können Sie mit einem Eingabefeld Email-Adressen hinzufügen. Wenn sich ein Benutzer mit derselben Email-Adresse einloggt, wird er eine entsprechende Meldung sehen.
