h1 Wilkommen

span ...im maaas CRM.

p
  span.font-bold Museum:
  span  Bearbeiten Sie die Details Ihres Museum.

p
  span.font-bold Bereiche:
  span  Erstellen Sie neue Bereiche für Ihr Museum und erstellen Sie Inhalte und Quize
p
  span.font-bold Rundgänge:
  span  Stellen Sie erstellte Bereiche für einen Rundgang zusammen

p
  span.font-bold Beacons:
  span Verwalten Sie Ihre Beacons und verknüpfen diese mit einem Bereich

p
  span.font-bold Statistiken:
  span  Erfahren Sie mittels den Statistiken mehr über die Verwendung ihrer App

p
  span.font-bold Übersetzen:
  span  Übersetzen sie die Bereiche, Inhalte und Quize um die Rundgänge in verschiedenen Sprachen anzubieten