.container
  h1 Content details
  h2 Images:
  .row
    .col-md-6
      mas-tinymce-component(image-list="ctrl.imageList")
    .col-md-4
      image-upload(image-id='ctrl.backgroundImageId')
      br
      div.pull-left(ng-repeat="image in ctrl.imageList")
        image-load(image-meta-data='image.imageMetaData' height='100')
        | {{$index}}
