textarea
  | Easy! You should check out MoxieManager!

script(type='text/javascript').
  var config = {}
  //- config.menubar = "file edit";
  config.selector = 'textarea';
  config.menu = {};
  //- config.menu.file = {title: 'Fileee', items: 'newdocument'};
  //- config.menu.format = {title: 'Format', items: 'bold italic'};
  config.toolbar = "undo redo | bold italic | link image";

  config.plugins = "image";

  config.image_list = [
    {title: 'My image 1', value: 'http://res.cloudinary.com/nmsg/image/upload/v1444230172/nf3ydtedojcgt5wunblr.jpg'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ]


  console.log("BLA");
  tinymce.init(config);
