.panel.panel-green
  .panel-heading
    | {{ 'museums_details_title' | translate }}
  .panel-body

    form(name='form' role='form' novalidate)
      mas-form-group(field-name='name' localization-prefix='museums_details_name')
        input.form-control(ng-model='ctrl.museum.name' name='name' required ng-minlength='2')

      mas-form-group(field-name='description' localization-prefix='museums_details_description')
        input.form-control(name='description' ng-model='ctrl.museum.description' required ng-minlength='10')

      mas-form-group(field-name='address' localization-prefix='museums_details_address')
        textarea.form-control(type='text' rows='4' name='address' ng-model='ctrl.museum.address' required ng-minlength='5')

      //mas-form-group(field-name='imageId' localization-prefix='museums_details_imageId')
      //    div
      //      image-upload(upload-id='image' required)
      //      image-load(upload-id='image' ng-if='ctrl.area.stickerImageId' initial-media-id='{{ctrl.museum.imageId}}' height='100')
      //      input(type='hidden' name='imageId' ng-model='ctrl.museum.imageId' required)

      button.btn.btn-default(type='submit' ng-click='ctrl.save()') Speichern
