a(href ui-sref='cms.areas.detail.challenges.update({challengeId: ctrl.challenge.id})')
  img(style='width:100px' ng-src='img/challenges/{{ctrl.challenge.kind}}.png')
  div {{ctrl.challenge.name}}
  div ({{ 'challenges_'+ctrl.challenge.kind+'_name'| translate }})
