h1 CREATE Quiz




select(ng-model='ctrl.selectedtype')
   option(value='multiple-choice') Multiplechoice
   option(value='true-false') True False


mas-challenges-kind-config-loader(type="{{ctrl.selectedtype}}" config="ctrl.quizConfig")


div
   button.btn.btn-default(type='submit' ng-click='ctrl.save()') Speichern

h3 QuizCOnfig JSON
| {{ctrl.quizConfig}}
