h1 CREATE Quiz

form(name="form" role='form' novalidate)
  mas-form-group(field-name='name' localization-prefix='challenges_details_name')
    input.form-control(ng-model='ctrl.challenge.name' name='name' required ng-minlength="2")
  mas-form-group( field-name='kind' localization-prefix='challenges_details_kind')
    select.form-control(ng-disabled="ctrl.disableKindSelect " ng-model='ctrl.selectedKind' ng-change="ctrl.kindChange()" ng-options="k.name for k in ctrl.kinds")
  .form-group.left10
    div(ng-include="ctrl.selectedKind.url")

  button.btn.btn-success(ng-disabled="!ctrl.selectedKind" type='submit' ng-click='ctrl.save()')
    i.fa.fa-save
    |  Speichern

| {{ctrl.isUpdate}}
h3 DEV challenge JSON
| {{ctrl.challenge}}

