.beaconGrid {
  width: 100%;
  height: 600px;
}


.hover-btn {
  display: none;
}

.editable-label {
  width: 200px;
  display: block;
}

.editable-text {
  width: 200px;
  display: none;
}

.hover-row:hover .hover-btn {
  display: block;
}

.hover-row:hover .editable-label{
  display: none;
}

.hover-row:hover .editable-text{
  display: block;
}



.ico-ibeacon:before {
  content: "";
  display: block;
  background: url("../img/ico-standard-ibeacon.png") no-repeat;
  display: block;
  width: 45px;
  height: 37px;
  float: left;
  margin: 0 6px 0 0;
}
