@import "vars";

.mas-round-img {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 1px solid $gray;
  }

}

.mas-new-btn {
  position:relative;
  .circle-btn{
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 30px;
    line-height: 1.33;
    background-color: $primary;
  }
  .text-label{
   text-align: center;
  }
}


.mas-new-btn-sm {
  position:relative;
  cursor: hand;
  text-decoration: none;
  .circle-btn{
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 10px;
    line-height: 1.33;
    background-color: $primary;
  }
  a{

  }
  a:hover{
    text-decoration: none;
  }
}

.mas-login-btn{
  color: $gray-light;
  background-color: $sec-color;
  border-color: $gray-dark;
}

.mas-save-btn{
   color: $gray-light;
   background-color: $sec-color;
   border-color: $gray-dark;
   width: 150px;
 }

.mas-remove-btn{
  color: $gray-light;
  background-color: $warning;
  border-color: $warning;
  width: 150px;
}


.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.mas-image-upload-btn{
  color: #fff;
  background-color: lighten($primary, 10%);
  border-color: $gray-dark;
  width: 150px;
}

.mas-navigation-btn{
  color: #fff;
  background-color: $primary;
  border-color: $gray-dark;
  width: 200px;
}

.error{
  color: $danger;
}