.mas-new-btn {
  position:relative;
  .circle-btn{

    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 30px;
    line-height: 1.33;
  }
  .text-label{

   text-align: center;
  }
}
