@import "vars";


mas-content-button {
    text-align: center;

    &:hover #delete-button  {
      visibility: visible;
    }
}

.mas-challenge-order-entry {
  margin-bottom: 10px;
  padding: 10px;
  background-color: $gray-light;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  cursor: all-scroll;
}
