@import "vars";

.preview-view{
  background-color: $main-color;
  height:100%;

  h1{
    color: $gray-dark;
  }

  .preview-content {
    padding-top: 2px;
    padding-left: 15px;
  }
}

.linkbox{
  max-width:400px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: $gray-light;

  a:hover{
    cursor: pointer;
  }

}

.sizebox{
  margin-top:10px;
  width: 120px;

  input{
    width: 50px;
  }
}

.phoneframe{
  border: 20px solid black;
  border-bottom-width: 30px;
  border-radius: 10px;
}


