@import "vars";


mas-tour-button {
  text-align: center;

  &:hover #delete-button  {
    visibility: visible;
  }
}


.mas-tourcomposition-box {
  min-height:200px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: $gray-light;
}