
h1 CREATE Quiz

select(ng-model='ctrl.selectedtype' ng-change="ctrl.typeChange()")
   option(value='multiplce-choice') Multiplcechoice
   option(value='true-false') True False



mas-quiz-config-loader(quiz-type="{{ctrl.selectedtype}}" quiz-config="ctrl.quizConfig")





h3 QuizCOnfig JSON
| {{ctrl.quizConfig}}
