h1 CREATE Quiz

input(ng-model="")
select(ng-model='ctrl.selectedtype')
   option(value='multiplce-choice') Multiplcechoice
   option(value='true-false') True False



mas-quiz-config-loader(quiz-type="{{ctrl.selectedtype}}" quiz-config="ctrl.quizConfig")


div
   button.btn.btn-default(type='submit' ng-click='ctrl.save()') Speichern

h3 QuizCOnfig JSON
| {{ctrl.quizConfig}}
