a(href ui-sref='cms.areas.detail.update({areaId: ctrl.area.id})')
  image-load(public-id='{{ctrl.area.stickerImage.publicId}}' height='100')
  div {{ctrl.area.stickerImage.publicId}}
  div {{ctrl.area.name}}
