.panel.panel-green
  .panel-heading
    | {{ 'areas_details_title' | translate }}
  .panel-body
    form(name='form' role='form' novalidate)

      mas-form-group(field-name='name' localization-prefix='areas_details_name')
          input.form-control(ng-model='ctrl.area.name' name='name' required ng-minlength='2')

      mas-form-group(field-name='gotoText' localization-prefix='areas_details_gototext' )
        input.form-control(name='gotoText' ng-model='ctrl.area.gotoText' required ng-minlength='5')

      mas-form-group(field-name='primaryColor' localization-prefix='areas_details_primarycolor')
        color-picker(name='primaryColor' ng-model='ctrl.area.primaryColor', color-picker-format='"hex"')

      mas-form-group(field-name='secondaryColor' localization-prefix='areas_details_secondarycolor')
        color-picker(name='secondaryColor' ng-model='ctrl.area.secondaryColor', color-picker-format='"hex"')

      mas-form-group(field-name='backgroundImage' localization-prefix='areas_details_backgroundimage')
          mas-image-form-wrapper(image-id='backgroundImage' model='ctrl.area.backgroundImageId' height='200' is-required='true')

      mas-form-group(field-name='stickerImage' localization-prefix='areas_details_stickerimage')
          mas-image-form-wrapper(image-id='stickerImage' model='ctrl.area.stickerImageId' height='100' is-required='true')

      mas-form-group(field-name='gotoImage' localization-prefix='areas_details_gotoimage')
          mas-image-form-wrapper(image-id='gotoImage' model='ctrl.area.gotoImageId' height='100' is-required='true')

      mas-form-group(field-name='hintText' localization-prefix='areas_details_hinttext')
        input.form-control(ng-model='ctrl.area.hintText' name='hintText' required ng-minlength='5')

      mas-form-group(field-name='hintImage' localization-prefix='areas_details_hintimage')
        mas-image-form-wrapper(image-id='hintImage' model='ctrl.area.hintImageId' height='100' is-required='true')

      mas-save-button(ng-click='ctrl.save()')

      div.well.top30(ng-hide='ctrl.createMode')
        button.btn.mas-navigation-btn(ui-sref='cms.areas.detail.challenges.list')
          i.fa.fa-forward
          |  Quiz Erfassen
        button.btn.mas-navigation-btn(ui-sref='cms.areas.detail.contents.list')
          i.fa.fa-forward
          |  Inhalt Erfassen

script(src='/libs/tinycolor.js') //TODO: In SystemJS einbinden
