h3 Zuweisen-Quiz

mas-form-group(field-name='question' localization-prefix='challenges_details_question')
  input.form-control(ng-model='ctrl.data.question' name='question' required ng-minlength='4')



h4 {{ 'challenges_details_assign_pairs' | translate }}
div.top10(ng-repeat='value in ctrl.data.listA.values')
  div.well
    a.btn.btn-warning.btn-circle.pull-right(ng-click='ctrl.deletePair($index)')
      i.fa.fa-trash-o


    mas-form-group(field-name='{{"text"+$index}}' localization-prefix='challenges_details_assign_text')
      input.form-control(ng-model='value.value' name='{{"text"+$index}}' required ng-minlength='4')

    mas-form-group(field-name='{{"image" + $index}}' localization-prefix='challenges_details_assign_image')
      mas-image-form-wrapper(image-id='{{"image" + $index}}' model='ctrl.data.listB.values[$index].mediumId' height='100' is-required='true')

mas-new-button-sm(ng-click='ctrl.addPair()' text="{{ 'challenges_details_assign_add' | translate }}")


