h3 {{ 'challenges_true-false_config_title' | translate }}

mas-form-group(field-name='question' localization-prefix='challenges_image-region_question')
  input.form-control(ng-model='ctrl.data.question' name='question' required)

mas-form-group(field-name='image' localization-prefix='challenges_image-region_image')
  mas-image-form-wrapper(image-id='image' model='ctrl.data.imageId' height='300' is-required='true')

mas-form-group(field-name='imageSolved' localization-prefix='challenges_image-region_image_solved')
  mas-image-form-wrapper(image-id='imageSolved' model='ctrl.data.imageSolvedId' height='300' is-required='true')


mas-form-group(field-name='coords' localization-prefix='challenges_image-region_coords')
  input.form-control(ng-model='ctrl.data.coords' name='coords' required)
  a(href='http://imagemap-generator.dariodomi.de' target='_blank') Koordinaten generieren


mas-form-group(field-name='correctFeedback' localization-prefix='challenges_image-region_correct_feedback')
  input.form-control(ng-model='ctrl.data.correctFeedback' name='correctFeedback' required)

mas-form-group(field-name='wrongFeedback' localization-prefix='challenges_image-region_wrong_feedback')
  input.form-control(ng-model='ctrl.data.wrongFeedback' name='wrongFeedback' required)
