h3 {{ 'challenges_multiple-choice_config_title' | translate }}

mas-form-group(field-name='question' localization-prefix='challenges_details_question')
  input.form-control(ng-model='ctrl.data.question' name='question' required ng-minlength='4')

    
h4 {{ 'challenges_multiple-choice_answers' | translate }}
a.btn(type='button' ng-click='ctrl.addAnswer()') {{ 'challenges_multiple-choice_answers_add' | translate }}
div(ng-repeat='answer in ctrl.data.answers track by $index')
  label {{ 'challenges_multiple-choice_answer' | translate }} {{$index+1}}
  input.form-control(ng-model='answer.text')

  mas-form-group(field-name='correctAnswer'  localization-prefix='challenges_multiple-choice_correctanswer' hide-help='true' hide-label='true')
    input(type='radio' value='{{answer.idx}}' ng-model='ctrl.data.correctAnswer' name='correctAnswer' required)
    | Richtige Antwort

  a.btn(ng-click='ctrl.removeAnswer($index)') Remove

