h3 Reihenfolge-Quiz

ol(style='list-style-type: decimal;' ui-sortable='ctrl.options' ng-model='ctrl.data.list')
  li.mas-challenge-order-entry(ng-repeat='entry in ctrl.data.list')
    a.btn.btn-warning.btn-circle.pull-right( ng-click='ctrl.deleteEntry($index)')
      i.fa.fa-trash-o
    .row
      .col-md-3
        mas-form-group(field-name='{{"captionShort"+$index}}' localization-prefix='challenges_details_order_title')
          input.form-control(ng-model='entry.captionShort' name='{{"aptionShort"+$index}}' required ng-minlength='4')
      .col-md-3
        mas-form-group(field-name='{{"captionLong"+$index}}' localization-prefix='challenges_details_order_description')
          input.form-control(ng-model='entry.captionLong' name='{{"captionLong"+$index}}' required ng-minlength='4')
      .col-md-3
        mas-form-group(field-name='{{ "image" + $index}}' localization-prefix='challenges_details_order_image')
          mas-image-form-wrapper(image-id='{{ "image" + $index}}' model='entry.mediumId' height='50' is-required='true')

        //mas-form-group(field-name='{{"image"+$index}}' localization-prefix='challenges_details_question')
        //  image-upload(upload-id='{{"orderQuizImage"+$index}}' medium-id='entry.mediumId')
        //  image-load(upload-id='{{"orderQuizImage"+$index}}' initial-media-id='{{entry.mediumId}}' height='50')
        //  input.form-control(type='hidden' ng-model='entry.mediumId' name='{{"image"+$index}}' required)
mas-new-button-sm(ng-click='ctrl.addEntry()' text='{{ "challenges_details_order_add" | translate }}')

