div.well
  a.btn.btn-warning.btn-circle.pull-right(ng-click='ctrl.removeQuestion()')
    i.fa.fa-trash-o

  h5 Frage {{ ctrl.index + 1 }}
  mas-form-group(field-name='{{ "text"+ ctrl.index }}' localization-prefix='challenges_true-false_question_text')
    input.form-control(ng-model='ctrl.question.text' name='{{ "text"+ ctrl.index }}' required)


  mas-form-group(field-name='{{ "question_" + ctrl.index }}' localization-prefix='challenges_true-false_question_image' hide-error='true')
    mas-image-form-wrapper(image-id='{{ "question_" + ctrl.index }}' model='ctrl.question.imageId' height='100' is-required='false')

    
  mas-form-group(field-name='{{ "answer"+ ctrl.index }}' localization-prefix='challenges_true-false_question_answer')
    div
      div
        input(type='radio' ng-model='ctrl.question.correctAnswer' value='true' name='{{ "answer"+ ctrl.index }}' required)
        | {{ctrl.data.trueAnswerText}}
      div
        input(style='margin-left:100 px' type='radio' ng-model='ctrl.question.correctAnswer' value='false' name='{{ "answer"+ ctrl.index }}' required)
        | {{ctrl.data.falseAnswerText}}


