h1 {{ 'beacons_list_title' | translate }}
p {{ 'beacons_list_description' | translate }}

table.table.table-striped
  tr
    th
    th UniqueId
    th Beschreibung
    th Bereich
    th Major
    th Minor
    th UUID
    th
  tr.hover-row(ng-repeat='beacon in ctrl.beacons | orderBy:["major","minor"]')
    td
      .ico-ibeacon
    td {{beacon.uniqueId}}
    td

      span.editable-label {{beacon.description}}
      input.editable-text(ng-model='beacon.description' ng-model-options='{ debounce: 1000 }' ng-change='ctrl.editBeacon(beacon)')
    td
      select(ng-options='parseInt(area.id) as area.name for area in ctrl.areas track by area.id' ng-model='beacon.areaId' ng-change='ctrl.editBeacon(beacon)')


    td {{beacon.major}}
    td {{beacon.minor}}
    td {{beacon.uuid}}
    td
      div(style='width: 20px;')
        a.btn.btn-warning.btn-circle.pull-right.hover-btn(ng-click='ctrl.removeBeacon(beacon)')
          i.fa.fa-trash-o

div  {{ ctrl.beacons }}

button.btn.btn-primary.btn(ng-click='ctrl.syncWithKontaktIO()') 
  i.glyphicon.glyphicon-download
  |  {{ 'beacons_list_sync_btn' | translate }}
