h1 {{ 'beacons_list_title' | translate }}
p {{ 'beacons_list_description' | translate }}

.input-group.pull-right(style='width:200px; margin-bottom: 15px;')
  input.form-control( type='text' placeholder='Filtern...' ng-model='ctrl.search')
  span.input-group-btn
    button.btn.btn-default(type='button')
      i.fa.fa-search

table.table.table-striped.top15
  tr
    th
    th UniqueId
    th Beschreibung
    th Bereich
    th Major
    th Minor
    th UUID
    th
  tr.hover-row(ng-repeat='beacon in ctrl.beacons | filter:ctrl.search  |orderBy:["major","minor"]')
    td
      .ico-ibeacon
    td {{beacon.uniqueId}}
    td

      span.editable-label {{beacon.description}}
      input.editable-text(ng-model='beacon.description' ng-model-options='{ debounce: 1000 }' ng-change='ctrl.editBeacon(beacon)')
    td
      span.editable-label {{  ctrl.getAreaNameById(beacon.areaId) }}
      select.editable-text(ng-options='area.id as area.name for area in ctrl.areas' ng-model='beacon.areaId' ng-change='ctrl.editBeacon(beacon)')
    td {{beacon.major}}
    td {{beacon.minor}}
    td {{beacon.uuid}}
    td
      div(style='width: 20px;')
        a.btn.btn-warning.btn-circle.pull-right.hover-btn(ng-click='ctrl.removeBeacon(beacon)')
          i.fa.fa-trash-o


button.btn.btn-primary.btn(ng-click='ctrl.syncWithKontaktIO()') 
  i.glyphicon.glyphicon-download
  |  {{ 'beacons_list_sync_btn' | translate }}
