.panel.panel-green
  .panel-heading
    |   {{ 'contents_details_title' | translate }}
  .panel-body
    form(name='form' role='form' novalidate)
      mas-form-group(field-name='title' localization-prefix='contents_details_title')
        input.form-control(ng-model='ctrl.content.title' name='title' required ng-minlength='2')

      mas-form-group(field-name='description' localization-prefix='contents_details_description')
        input.form-control(ng-model='ctrl.content.description' name='description' required ng-minlength='2')

      mas-form-group(field-name='previewImage' localization-prefix='contents_details_previewimage')
        mas-image-form-wrapper(image-id='previewImage' model='ctrl.content.previewImageId' height='80' is-required='true')

      .form-group(ng-class='{ "has-error" : ctrl.IsValidAndSubmitted("name") }')
        label {{ 'contents_details_Text_label' | translate }}
        .row
          .col-md-6
            textarea(ui-tinymce='ctrl.tinymceConfig' ng-model='ctrl.content.data')
          .col-md-4
            image-upload(upload-id='contentImage')
            br
            div.pull-left(ng-repeat='image in ctrl.imageList')
              image-load(public-id='{{image.medium.publicId}}' height='100')

      mas-save-button(ng-click='ctrl.save()')
