mas-content-detail-component()
//- mas-tinymce-component(image-list="imageList")
//- textarea
//-   | Easy! You should check out MoxieManager!
//-
//- script(type='text/javascript').
//-   var config = {}
//-   //- config.menubar = "file edit";
//-   config.selector = 'textarea';
//-   config.menu = {};
//-   //- config.menu.file = {title: 'Fileee', items: 'newdocument'};
//-   //- config.menu.format = {title: 'Format', items: 'bold italic'};
//-   config.toolbar = "undo redo | bold italic | link image";
//-
//-   config.plugins = "image";
//-
//-   var list = [
//-        {title: 'Dog', value: 'mydog.jpg'},
//-        {title: 'Cat', value: 'mycat.gif'}
//-   ]
//-
//-   config.image_list = function(success) {
//-     console.log("HERE")
//-     success(list);
//-     list.push({title: 'oh', value: 'ah.jpg'})
//-   }
//-
//-   console.log("BLA");
//-   myEditor = tinymce.init(config);
