
<ion-view hide-nav-bar="false" hide-back-button="false">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>Zur&uuml;ck</ion-nav-back-button>
    <ion-nav-buttons side="right"><img src="img/logo.svg" height="40px"/></ion-nav-buttons>
  </ion-nav-bar>
</ion-view>
<ion-content scroll="false" style="margin: 0px;">
  <div ng-class="contentClass" class="pap-content-view">
    <ion-scroll>
      <article>
        <div dynamic="html"></div>
      </article>
    </ion-scroll>
  </div>
  <overlay></overlay>
</ion-content>