
<ion-view title="Hilfe" cache-view="true">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button ng-click="navigateToHome()">{{::backButtonLabel}}</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="pap-help">
    <article>
      <h3>Anleitung</h3>
      <p>
        Du hast dich also dafür entschieden, einen interaktiven Rundgang
        mit der Museumsapp zu unternehmen. Super! Du wirst es nicht bereuen.
        
      </p>
      <p>Lies zuerst die Anleitung durch, damit du dich nicht verirrst.</p><br/><br/>
      <p>
        Diese App erkennt automatisch, wo du dich im Museum befindest, und kann dir
        passende Inhalte anzeigen. Wenn du dich also z.B. in die Nähe
        des Bibers begibst, wird dir die App im unteren Bereich einen
        Navigationsvorschlag machen:
        
      </p>
      <div class="pap-image-container"><img src="img/help/area_slider.png"/></div>
      <p>
        Wenn du den Navigationsvorschlag anwählst, kommst du in die Detailansicht
        des zugehörigen Tieres. Hier kannst du Inhalte lesen und ein Quiz lösen.
        
      </p>
      <div class="pap-image-container"><img src="img/help/content_and_quiz.png"/></div>
      <p>
        Um ein Quiz zu lösen musst du es zuerst freischalten. Du kannst ein Quiz
        freischalten in dem du auf das Stickerbild drückst und dein Mobiltelefon
        ganz nah an den gleich aussehenden Sticker hälst, der am Ausstellungsobjekt
        angebracht ist. Die App wird das Quiz freischalten, sobald du nah genug bist.
        
      </p>
      <div class="pap-image-container"><img src="img/help/find_quiz.png"/></div>
      <p>
        Sobald du das Quiz gelöst hast, wird dir der zugehörige Sticker in dein
        Stickerheft geklebt.
        
      </p>
      <p>
        Es gibt ingsgesamt 12 Sticker. Sammle alle ein, um ein Geschenk an der
        Kasse abzuholen!
      </p>
    </article>
  </ion-content>
</ion-view>