h1 {{ 'beacon_title' | translate }}

div(ui-i18n="'de'")
  div.beaconGrid(ui-grid="ctrl.gridOptions" ui-grid-selection ui-grid-edit)
  
a.btn(href="" ng-disabled="ctrl.gridApi.selection.getSelectedRows().length <= 0" ng-click="ctrl.DeleteSelected()")
  i.glyphicon.glyphicon-trash
  |  Löschen

a.btn(ng-click='ctrl.SyncWithKontaktIO()') 
  i.glyphicon.glyphicon-download
  | Sync with Kontakt.io

| {{ctrl.b2b}}
