h1 {{ 'search_title' | translate }}


.input-group.custom-search-form(style='width: 400px')
  input.form-control(type='text', placeholder='Schnellsuche...' ng-model="ctrl.searchText")
  span.input-group-btn
    button.btn.btn-default(type='button' ng-click='ctrl.search()')
      i.fa.fa-search

h2 {{ 'areas_title' | translate }}
.row
  .col-md-4.top30(ng-repeat='area in ctrl.areas | orderBy : "name" | filter: ctrl.searchText')
    mas-area-button(area='area')

h2 {{ 'contents_title' | translate }}
.row
  .col-md-4.top30(ng-repeat='content in ctrl.contents | orderBy : "title" | filter: ctrl.searchText')
    mas-content-button(content='content')


h2 {{ 'challenges_title' | translate }}
.row
  .col-md-4.top30(ng-repeat='challenge in ctrl.challenges | orderBy : "name" | filter: ctrl.searchText')
    mas-challenge-button(challenge='challenge')


h2 {{ 'tours_title' | translate }}
.row
  .col-md-4.top30(ng-repeat='tour in ctrl.tours | orderBy : "name" | filter: ctrl.searchText')
    mas-tour-button(tour='tour')