div(height='100%' style='background-color:#b2df8e')
    .container
        .row
            .col-lg-10.col-centered
                img(syle='height: 30%' src='./img/maaas_logo.svg')
            .col-lg-10.col-centered
                mas-login-component
