.login-panel.panel.panel-default
  .panel-heading
    h3.panel-title Please Sign In
  .panel-body
    form(role='form')
      fieldset
        .form-group
          input.form-control(ng-model='ctrl.email' placeholder='E-mail', type='email', autofocus='')
        .form-group
          input.form-control(ng-model='ctrl.password' placeholder='Password', type='password')
        .checkbox
          label
            input(name='remember', type='checkbox', value='Remember Me')
            | Remember Me
        a.btn.btn-lg.btn-default.btn-block(ng-click='ctrl.login()') Login
