.form-group(ng-repeat='question in ctrl.bindTo.questions')
  label {{ 'challenges_true-false_question_answer_label' | translate }} {{ $index + 1 }}
  input.form-control(ng-model='question.text')

mas-form-group(name='' localization-prefix='challenges_true-false_option_true')
  input.form-control(ng-model='ctrl.bindTo.trueAnswerText')

mas-form-group(name='' localization-prefix='challenges_true-false_option_false')
  input.form-control(ng-model='ctrl.bindTo.falseAnswerText')
