h1 STATISTICZZZ
.row
  .col-lg-4
    canvas#doughnut.chart.chart-doughnut(data='ctrl.ddata', labels='ctrl.dlabels' legend='true')
  .col-lg-4
    canvas#bar.chart.chart-bar(data='ctrl.bdata', labels='ctrl.blabels' series='ctrl.bseries')
  .col-lg-4
    canvas#radar.chart.chart-radar(data='ctrl.sdata', labels='ctrl.slabels')

