.panel.panel-green
  .panel-heading 
    |   Area Details
  .panel-body
    form(role='form')
      .form-group
        label Name                                        
        input.form-control(ng-model='ctrl.area.name')  
        p.help-block Hier könnte ein Hilfetext stehen

                                  
      button.btn.btn-default(type='submit', ng-click='ctrl.saveArea()') Speichern  
      test
      image-upload                                  
      image-display(imageid='rhyvcggx0tndsv5mhqcu')                                  
