.panel.panel-green
  .panel-heading
    |   {{ 'area_details_title' | translate }}
  .panel-body
    form(name="areaform", role='form' novalidate)
      .form-group(ng-class='{ "has-error" : ctrl.isValidAndSubmitted("name") }')
        label {{ 'area_details_name_label' | translate }}
        input.form-control(ng-model='ctrl.area.name' name='name' required ng-minlength="2")
        p.help-block(ng-hide='ctrl.isValidAndSubmitted("name")') {{ 'area_details_name_help' | translate  }}
        p.help-block(ng-show='ctrl.isValidAndSubmitted("name")') {{ 'area_details_name_error' | translate }}

      .form-group(ng-class='{ "has-error" : ctrl.isValidAndSubmitted("gototext") }')
        label {{ 'area_details_gototext_label' | translate }}
        input.form-control(name="gototext" ng-model='ctrl.area.gotoText' required ng-minlength="5")
        p.help-block(ng-hide='ctrl.isValidAndSubmitted("gototext")') {{ 'area_details_gototext_help' | translate  }}
        p.help-block(ng-show='ctrl.isValidAndSubmitted("gototext")')  {{ 'area_details_gototext_error' | translate }}

      .form-group(ng-class='{ "has-error" :  ctrl.isValidAndSubmitted("primarycolor") }')
        label {{ 'area_details_primarycolor_label' | translate }}
        color-picker(name="primarycolor" ng-model="ctrl.area.primaryColor", color-picker-format='"hex"')
        p.help-block(ng-hide='ctrl.isValidAndSubmitted("primarycolor")') {{ 'area_details_primarycolor_help' | translate  }}
        p.help-block(ng-show='ctrl.isValidAndSubmitted("primarycolor")')  {{ 'area_details_primarycolor_error' | translate }}

      .form-group(ng-class='{ "has-error" : ctrl.isValidAndSubmitted("secondarycolor")  }')
        label {{ 'area_details_secondarycolor_label' | translate }}
        color-picker(name="secondarycolor" ng-model="ctrl.area.secondaryColor" color-picker-format='"hex"')
        p.help-block(ng-hide='ctrl.isValidAndSubmitted("secondarycolor") ') {{ 'area_details_secondarycolor_help' | translate  }}
        p.help-block(ng-show='ctrl.isValidAndSubmitted("secondarycolor") ')  {{ 'area_details_secondarycolor_error' | translate }}

      .form-group(ng-class='{ "has-error" : ctrl.isValidAndSubmitted("backgroundimageid")  }')
        label {{ 'area_details_backgroundimage_label' | translate }}
        div
          image-upload(image-meta-data='ctrl.backgroundImageMetaData' required)
          image-load(image-meta-data='ctrl.backgroundImageMetaData', height='100')
          input(type="hidden" name="backgroundimageid" ng-model="ctrl.backgroundImageMetaData" required)
        p.help-block(ng-hide='ctrl.isValidAndSubmitted("backgroundimageid") ') {{ 'area_details_backgroundimage_help' | translate  }}
        p.help-block(ng-show='ctrl.isValidAndSubmitted("backgroundimageid") ') {{ 'area_details_backgroundimage_error' | translate }}

      .form-group(ng-class='{ "has-error" : ctrl.isValidAndSubmitted("stickerimageid")  }')
        label {{ 'area_details_stickerimage_label' | translate }}
        div
          image-upload(image-meta-data='ctrl.stickerImageMetaData')
          image-load(image-meta-data='ctrl.stickerImageMetaData', height='100')
          input(type="hidden" name="stickerimageid" ng-model="ctrl.stickerImageMetaData" required)
        p.help-block(ng-hide='ctrl.isValidAndSubmitted("stickerimageid") ') {{ 'area_details_stickerimage_help' | translate  }}
        p.help-block(ng-show='ctrl.isValidAndSubmitted("stickerimageid") ') {{ 'area_details_stickerimage_error' | translate }}

      button.btn.btn-default(type='submit' ng-click='ctrl.saveArea()') Speichern

script(src="/libs/tinycolor.js") //TODO: In SystemJS einbinden
