h1 Areas
.area-overview
  .row
    .col-md-4.top30(ng-repeat-start='area in ctrl.areas')
      area-button(area="area")
    .clearfix(ng-if='$index%3==2')
    div(ng-repeat-end='')
    .col-md-4.top30.text-center
      a(ui-sref="cms.area.create")
        button.btn.btn-default.maaas-add-btn(type='button')
          i.fa.fa-plus
