h1 Beaons1
.table-responsive
  table.table.table-striped
    tr
      th
      th ID
      th Beschreibung
      th UUID
      th Major
      th Minor
    tr(ng-repeat='beacon in ctrl.beacons')
      td 
        span.ico-ibeacon
      td {{beacon.id}}
      td {{beacon.description}}
      td {{beacon.uuid}}
      td {{beacon.major}}
      td {{beacon.minor}}
      
      
      
      
button.btn(ng-click='ctrl.SyncWithKontaktIO()') Sync with Kontakt.io
  
