doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Maaas CMS

    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/metisMenu.min.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
    
    link(href='css/styles.css', rel='stylesheet')
  body
    div(ui-view='')
    
    
    script(src='libs/jquery.min.js')
    script(src='libs/bootstrap.min.js')
    script(src='libs/metisMenu.min.js')
    script(src='libs/widget.js')
    script(src='libs/jquery.iframe-transport.js')
    script(src='libs/jquery.fileupload.js')
    script(src='libs/jquery.cloudinary.js')
    script(src='libs/angular.min.js')
    script(src='libs/angular-ui-router.min.js')
    script(src='libs/angular-resource.min.js')
    script(src='libs/js-data.min.js')
    script(src='libs/js-data-http.min.js')
    script(src='libs/js-data-angular.min.js')
    
    script(src="/node_modules/systemjs/dist/system.js")
    script(src="/system.config.js")
    script(type='text/javascript').
      System.import('app/Users/samuelmueller/Development/maaas-cms/source/app/app.js')
        
    ngc-login-form()
