doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Maaas CMS

    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/metisMenu.min.css', rel='stylesheet')
    link(href='css/skin.min.css', rel='stylesheet')
    link(href='css/content.min.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/angularjs-color-picker.min.css', rel='stylesheet', type='text/css')
    link(href='css/ui-grid.min.css', rel='stylesheet', type='text/css')
    link(href='css/styles.css', rel='stylesheet')
  body
    div(ui-view='')

    script(src="/libs/tinymce/tinymce.js")
    script(src="/libs/system.js")
    script(src="/system.config.js")
    script(type='text/javascript').
      System.import('app/app.js')

    ngc-login-form()
