doctype html
html(lang='en', ng-app='maaascms', data-framework='typescript')
  head
    meta(charset='utf-8')
    title maaas cms
    link(href='../css/app.css', rel='stylesheet')
  body
    div(ng-controller='areaCtrl')
      h1 test 1234233Test

      span {{somestring}}
    script(src='../libs/angular.js')
    script(src='../js/app.js')
